.sessions{
    width: 38vw;
    max-width: 300px;
    border-right: 1px solid grey;
    height: 100vh;
    text-align: center;
    overflow-y: auto;
}


.sessionsList{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: start;
}

.sessionsList li{
    padding: 5px;
    border: 1px solid lightgrey;
    cursor: pointer;
}

.sessionsList li:hover, .select_session{
    background-color: lightgray;
}