@import '../config/styling_details.css';

.chat_text_handler{
    flex: 0 1 auto;
    height: fit-content;
    display: inline-flex;
}
  
.msg_input{
    flex: 1 1 auto;
    width: auto;
    outline: none;
    padding: 6px 10px;
    margin: 10px;
    margin-right: 5px;
    max-height: 100px;
    font-size: medium;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 6px #9b9999;
    color: black;
}

.send_icon{
    flex: 0 1 auto;
    font-size: 25px !important;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    float: right;
    color: rgb(153, 153, 153);
    cursor: pointer;
    box-shadow: 0px 0px 6px #9b9999;
}

.send_icon.query_available{
    color: var( --user_background );
}


.dots{
    display: flex;
    align-items: center;
    margin: 15px 5%;
    transition: all 1s;
    font-size: 14px;
    line-height: 18px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dots_container_border );
    background-color: var( --dots_container_bg );
    border-bottom-left-radius: 0;
}
  
.dot1, .dot2, .dot3{
    display:inline-block;
    width:  var( --dots_width );
    height: var( --dots_width );
    border-radius:50%;
    margin-right:3px !important;
    background: var( --dots_color );
    animation: wave 1.3s linear infinite;
}


.dot2{
    animation-delay: -1.1s;
}


.dot3{
    animation-delay: -0.9s;
}


@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-5px);
	}
}

.bot_avatar{
    /* display: flex; */
}

.bot_image{
    width: 35px;
    border-radius: 50%;
    margin-top:  10px;
    margin-left: -15px;
    opacity: 0.755;
}

.bot_name{
    font-weight: bolder;
    color: rgb(161, 154, 154);
}

.messages {
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0 5% 0 2%;
    display: grid;
    max-height: 81vh;
}

.messages div{
    margin: 1px 0;
}

.messages .msg{
    display: table-cell;
    align-items: center;
    width: 100%;
    transition: all 2s;
    font-size: 14px;
    color: #3d4e63cc;
    line-height: 1.7;
}
  
  
.msg *{
    margin: 2px 0;
    text-align: start;
}
  
.msg ul{
    padding-left: 25px;
}
  
.msg li{
    list-style-type: square;
    margin: 5px 0;
}
  
  
.user_text, .user_text + .time{
    width: 100% !important;
    flex-direction: row-reverse;
    text-align: end;
    float: right;
}

.time{
    font-size: 9px;
    margin: 2px 0;
}

.bot, .nudges, .msg_form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 95%;
    padding: 8px;
    background-color: var(--bot_background);
    border: 1px solid rgb(235, 234, 234);
    border-bottom-left-radius: 0px;
}


.user{
    display: flex;
    align-items: center;
    transition: all 0.5s;
    border-radius: 10px;
    max-width: 92%;
    padding: 8px;
    background-color: var(--user_background);
    border: 1px solid rgb(235, 234, 234);
    color: white;
    border-bottom-right-radius: 0px;
    float: right;
}



.msg .bot:nth-child(n), .msg .user:nth-child(n){
    border-radius: 0px;
    margin: 0;
}

.msg .bot:first-child, .msg .user:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.msg .bot:last-child{
    border-bottom-right-radius: 10px !important;
}

.msg .user:last-child{
    border-bottom-left-radius: 10px !important;
}

.msg_form{
    /* background-color: transparent; */
    width: 100%;
    max-width: 100%;
    padding: 4px;
}

.nudges{
    margin: 0;
    max-width: 99%;
    width: 99%;
    padding: 0 !important;
    /* background-color: transparent; */
    border-radius: 0 !important;
    border-bottom-right-radius: 10px !important;
}

.nudges li{
    border-radius: 0 !important;
    margin: 0;
    list-style-type: none;
    padding: 8px;
    text-align: start;
    border: 1px solid rgb(235, 234, 234);
}

.nudges li:last-child{
    border-bottom-right-radius: 10px !important;
}

.nudges li:hover{
    background-color: rgb(235, 234, 234);
    cursor: pointer;
}

/* suggested questions populated for every reply based on the response */

.suggested_container{
    text-align: end;
    margin: 5px 0 !important;
}

.suggested_que{
    display: inline-flex;
    padding: 5px;
    border: 2px solid var( --nudges-color );
    margin: 2px 5px !important;
    border-radius: 5px;
    cursor: pointer;
    color: var( --nudges-color );
}

.suggested_que:hover{
    background-color: var( --nudges-color );
    color: whitesmoke;
}

.feedback{
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    align-items: center;
}

.feedback div{
    display: flex;
    width:  var( --thumbs_size );
    height: var( --thumbs_size );
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer !important;
}

.feedback svg{
    cursor: pointer;
    font-size: larger;
}

.ThumbUp{
    color: var( --thumbs_up_color );
    border: 1px solid var( --thumbs_up_color ) !important;
}

.ThumbDown{
    color: var( --thumbs_down_color );
    border: 1px solid var( --thumbs_down_color ) !important;
}

.ThumbDown_review, .ThumbDown:hover{
    color: whitesmoke;
    background-color: var( --thumbs_down_color );
    border-width: 0px;
    cursor: default !important;
}

.ThumbUp_review, .ThumbUp:hover{
    color: whitesmoke;
    background-color: var( --thumbs_up_color );
    border-width: 0px;
    cursor: default !important;
}

.feedback_form{
    height: 500px;
    width: 100%;
    max-width: 600px;
    position: absolute;
    z-index: 10;
    background-color: white;
    box-shadow: 0px -5px 8px #949494ad;
    border-top-left-radius:  18px;
    border-top-right-radius: 18px;
}

.close_icon{
    float: right;
    margin: 10px;
    cursor: pointer;
}

#feedback_thumbs{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#feedback_thumbs div{
    display: flex;
    width:  45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid black;
}

.feedback_title_text{
    width: 86%;
    font-weight: bolder;
    margin: 15px 5%;
    text-align: center;
}

#feedback_note{
    width: 86%;
    height: 200px;
    padding: 10px;
    outline: none;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback_btns{
    margin: 10px 5%;
    float: right;
}

.feedback_btns button{
    padding: 10px 15px;
    background-color: #0095ff;
    border-radius: 5px;
    outline: none;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.chat_icon{
    color: grey;
}

.chat_icon:hover{
    color: rgb(56, 56, 56);
}

.positive,.positive:hover{
    color: var( --thumbs_up_color );
    cursor: default;
}

.negative, .negative:hover{
    color: var( --thumbs_down_color );
    cursor: default;
}



.chat_card{
    border: 1px solid rgb(236, 236, 236);
    margin-bottom: 3px !important;
    border-radius: 5px;
    max-width: 330px;
    box-shadow: 0 0 3px 4px rgb(231, 231, 231);
}


.chat_card img{
    margin: 3px;
    max-width: 320px;
    height: auto;
}

.chat-text{
    padding: 5px;
}


@media only screen and (min-width: 320px) and (max-width: 480px){
    .feedback_form{
        height: 380px;
    }

    .msg_input{
        padding: 12px;
    }

    #feedback_note{
        width: 84.5% ;
        height: 130px;
    }        

    .chat_card{
        max-width: 260px;
    }

    .chat_card img{
        max-width: 240px;
    }
}
